## max. code width ============================================================

## ============================================================================
## Title: Arc Institute in vivo pertubation screens
## Author: dkatzlberger
## Date: 27.01.2026
## ============================================================================

## Excluded files
# Software settings
.Renviron
.Rprofile
.vscode

## Excluded directories
# Generated data
/results
/presentations

# Library manager
/renv