## max. code width ============================================================

## ============================================================================
## Title: Arc Institute in vivo pertubation screens
## Author: dkatzlberger
## Date: 27.01.2026
## ============================================================================

## Excluded files
# Software settings
.Renviron

## Excluded directories
# Generated data
/results

# Library manager
/renv
/.vscode